@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  background-color: #dce1eb !important;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.podContainer,
.namespaceContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pod {
  background: hsla(223, 7%, 21%, 1);

  background: linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  border: 2px solid white;

  width: 250px;
  height: 250px;
  // background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  box-shadow: 5px 5px 15px 0 rgba(220, 225, 235, 0.7);
}

.podInfo {
  z-index: 100;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  min-width: 200px;
  text-align: center;
  color: white;
}

.nodeContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nodeOverview,
.nodeMemStats,
.nodeConditions {
  width: 400px;
  height: 400px;
  margin: 1em;
  box-shadow: 5px 5px 15px 0 rgba(220, 225, 235, 0.7);
  padding: 1em;

  color: white;
  border: 2px solid white;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;

  background: hsla(223, 7%, 21%, 1);

  background: linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );
}

h1 {
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.podBtn {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
}

.podBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.boxes {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  border-radius: 20px;
}

.modal {
  background: hsla(223, 7%, 21%, 1);

  background: linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(223, 7%, 21%, 1) 0%,
    hsla(223, 8%, 31%, 1) 100%
  );
}
